@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
        background-image: linear-gradient(to top, #e08aff 0%, #e08aff 100%);
        color:            #000000;
        width:            70%;
        margin:           30px auto;
       background-repeat: no-repeat;
       background-attachment: fixed;
      }

.header {
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  text-align: right;
  width: 100%;
}

ul {
  background:  #000000;
	list-style: none;
	margin: 0;
	padding-left: 0;
  display: flex;
  text-align: left;
}

ul:hover {
  background:  #000000;
	list-style: none;
	margin: 0;
	padding-left: 0;
  display: flex;
  text-align: left;
}

li {
	color:  #e08aff;
  background: #000000;
	display: inline-block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
 color: inherit;
}

li:hover {
  color:  #000000;
	background: #e08aff;
	cursor: pointer;
}

li a:hover {
  color:  #000000;
}

ul li ul {
	background: #f67aff;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
      h1 {
        text-align: center;
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 33px;
        border: 9px solid #000000;
        padding: 10px;
        border-radius: 25px;
        font-family: 'Press Start 2P', cursive;

      }

      h2 {
        text-align: left;
      }

      p {
        line-height: 1.5;
        font-size: 24px;
        font-family: 'Roboto Mono', monospace;
      }

      img {
        margin: 0 auto;
        display: block;
        border-radius: 4px;
      }

      button {
        background:     #000000;
        border:         none;
        font-size:      42px;
      font-family: 'Roboto Mono', monospace;
        border-radius:  30px;
        text-transform: uppercase;
        color:          #ffb8f5;
        display:        block;
        padding:        10px 20px;
        transition:     opacity 50ms ease;
        cursor:         pointer;
        opacity:        1;
        box-shadow:     0 1px 20px rgba(0,0,0,0.5);
        margin:         30px auto;
      }

      a:hover {
        color: #000000;
        
      }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

nav ul{
  display:flex;
  flex-direction: column;
}

@media screen and (min-width:600px){
  nav ul{
    flex-direction:row;
  }
}








   body {
            background-color: rgb(0, 0, 0);
        }

        h1 {
            font-family: 'Press Start 2P', cursive;
            border: 9px solid #000000;
            padding: 20px;
            border-radius: 25px;
            text-align: center;
            line-height: 1.5;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 33px;
            animation-duration: 900ms;
            animation-name: slide-in ;
            animation-iteration-count: once;
      }

  @keyframes slide-in {
    from {
      transform: translateX(-60%);
    }
    to {
      transform: translateX(-1%);
    }
  }

}
.box {
  width: 100px;
  height: 100px;
  padding: 8px;
  display: grid;
  place-content: center;
  text-align: center;
}
}

        div {
            margin: 0px auto;
            display: block;
        }

        footer {
          
        }



        /* 
color code starts here
 */

        body {
            animation: colorchange 9s;
            /* animation-name followed by duration in seconds*/
            /* you could also use milliseconds (ms) or something like 2.5s */
            -webkit-animation: colorchange 10s;
            /* Chrome and Safari */
        }

        @keyframes colorchange {
            0% {
                background: #f78aff;
            }

            25% {
                background: #e08aff;
            }

            50% {
                background: #e68aff;
            }

            75% {
                background: rgb(208, 114, 243);
            }

            100% {
                background: #e08aff;
            }
        }

        @-webkit-keyframes colorchange

        /* Safari and Chrome - necessary duplicate */
            {
            0% {
                background: pink;
            }

            25% {
                background: purple;
            }

            50% {
                background: teal;
            }

            75% {
                background: green;
            }

            100% {
                background: skyblue;
            }
        }