@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
        background-image: linear-gradient(to top, #000000 0%, #000000 100%);
        color:            #fff;
        width:            70%;
        margin:           20px auto;
       background-repeat: no-repeat;
       background-attachment: fixed;
      }

.header {
      font-family: 'Press Start 2P', 
        cursive;
  display: inline-block;
  text-align: right;
  width: 100%;
}

ul {
  background: #ffffff;
	list-style: none;
	margin: 0;
	padding-left: 0;
  display: flex;
  text-align: left;
}

li {
	color: #000000;
  background: #ffffff;
	display: inline-block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #000000;
}

li:hover {
	background: #00ff04;
	cursor: pointer;
}

ul li ul {
	background: #ffffff;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        border: 8px solid #fff;
        padding: 20px;
        border-radius: 25px;
        font-family: 'Press Start 2P', cursive;

      }

      h2 {
        text-align: center;
        font-size: 26px;
        font-family: 'Roboto Mono', monospace;
      }

      p {
        line-height: 1.5;
        text-align: center;
        font-size: 24px;
        font-family: 'Roboto Mono', monospace;
      }

      img {
        margin: 0 auto;
        display: block;
        border-radius: 4px;
      }

      button {
        background:     #ffffff;
        border:         none;
        font-size:      42px;
        font-family: 'Roboto Mono', monospace;
        border-radius:  30px;
        text-transform: uppercase;
        color:          #000000;
        display:        block;
        padding:        10px 20px;
        transition:     opacity 50ms ease;
        cursor:         pointer;
        opacity:        1;
        box-shadow:     0 1px 20px rgba(0,0,0,0.5);
        margin:         30px auto;
      }

      a {
        color: #fff;
      }


   body {
            background-color: rgb(0, 0, 0);
        }

        h1 {
            font-family: 'Press Start 2P', cursive;
            border: 8px solid #fff;
            padding: 20px;
            border-radius: 25px;
            text-align: center;
            line-height: 1.5;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 28px;
            animation-duration: 900ms;
            animation-name: slide-in ;
            animation-iteration-count: once;
      }

  @keyframes slide-in {
    from {
      transform: translateX(-60%);
    }
    to {
      transform: translateX(-1%);
    }
  }

}
.box {
  width: 100px;
  height: 100px;
  padding: 8px;
  display: grid;
  place-content: center;
  text-align: center;
}
}

        div {
            margin: 0px auto;
            display: block;
        }